@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
    background-color: #EFEFEF;
}
li,a {
    font-family: "Roboto",sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgb(0, 0, 0);
} 
header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
}
.logo {
    cursor: pointer;
    margin-right: auto;
    
}

.myPhoto {
    margin-left: 800px;
}


.nav_links li {
    display: inline-block;
    padding: 0px 20px;
    vertical-align: top;
}
.nav_links {

}
.sticky-footer {
    margin-bottom: 50px;
}

.sticky-footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(39, 38, 38);
    color: rgb(0, 0, 0);
    text-align: center;
    background: grey;
  }


.project2, .project1, .bio, .heroImg {
    margin: 20px;
    padding: 20px;
    width: 250px;
    height: 250px;

   
}
  .flexContainer {
    display: flex;
    height: 400px;
    margin: 10px;
    padding: 10px;
  }

  .justifyContent {
    justify-content: center;
  }

  .imageBio {
  align-items: flex-start;
  display: flex;
  justify-items: center;
  height: 484px;

  }